
:root {
  --main-color: #ff5151;
  --main-color-lighten: #ff6161;
  --primary-subtitle-color: #686868;
  --secondary-title-color: #303030;
  --secondary-subtitle-color: #686868;
  --tertiary-color: #161e54;
  --just-white-color: #fff;
  --background-color: #fafafa;
  --icon-color: #b2b2b2;
  --divider-color: #f1f1f1;
  --sidebar-title-color: #000;
  --sidebar-link-hover-background-color: #f9e2e2;

  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  --border-radius: 6px;
  --border-style: 1px solid #e0e0e0;

  --header-height: 90px;
  --sidebar-width-md: 90px;
  --sidebar-width-lg: 242px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--main-font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: var(--just-white-color);
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}
